@media (prefers-color-scheme: dark) {
    html{
        color: white;
        background-color: #111;
    }
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#sheet {
    margin: 1em;
}

#sheet header {
    display: flex;
    align-items: baseline;
}

#sheet header h1 {
    font: optional;
    margin-right: 2em;
}

#sheet header h2 {
    font: optional;
    font-size: 1.2em;
    margin-right: 1em;
}

.ast_score {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.ast_mod td {
    text-align: center;
    font-size: 1.2em;
    padding-right: 1em;
}

.ast_skills {
    vertical-align: top;
}

.spell-level h2 {
    font-size: 1.1em;
    font-weight: bold;
    font-family: monospace;
    margin: 0.8em 0 0.3em;
}

#export button {
    margin: 0.3em;
}